.contact-sales-container
  %h2.margin-top0 Ready to talk?
  %p Our team is here to answer your questions about GitLab
  %a.btn.cta-btn.orange.margin-top20{ href: "/solutions/public-sector/#contact" }
    Contact sales
  %a.margin-top20{ href: "/pricing/" }
    Or, get started now with a free trial
